div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.formulario {
  width: 100%; /* Alterado para 100% para ocupar a largura do dispositivo */
  max-width: 600px; /* Largura máxima do formulário */
  margin: 20px auto; /* Adiciona margem superior para o espaço do header */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: auto; /* Altura automática para acomodar o conteúdo */
  box-sizing: border-box; /* Adicionado para incluir a borda e o preenchimento na largura total */
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Novas regras para tornar o formulário responsivo */
/* Entre 602px e 1322px */
@media screen and (min-width: 602px) and (max-width: 1322px) {
  .formulario {
    max-width: 80%; /* Reduz a largura do formulário para 80% da tela */
  }
}

/* Até 601px (celular) */
@media screen and (max-width: 601px) {
  .formulario {
    max-width: 90%; /* Reduz a largura do formulário para 90% da tela */
    position: static; /* Remove a posição absoluta para ajustar o fluxo do layout */
    transform: none; /* Remove a transformação translateY */
    margin-top: 20px; /* Adiciona margem superior para o espaço do header */
  }
}
