.header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-size: larger;
  padding: 3vh;
  background-color: #1877f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}
